# SMC own files
data/
config.ini

# Environment files
.env
.env.dev
.env.local
.env.local.php
.env.*.local

# PHP test results
.phpunit.result.cache

# Docker compose
compose.yaml
compose.override.yaml

# Symfony framework / generated
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/

# IDEs
/.idea/
/*.iml
/.vscode/

# System files
.DS_Store
Thumbs.db
