# SMC own files
data/
**/dummy/
config.ini

# Environment files
.env
.env.*

# PHP test results
.phpunit.result.cache

# Docker
compose.yaml
compose.override.yaml
docker/mysql_data
docker/php

# Symfony framework / generated
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/

# IDEs
/.idea/
/*.iml
/.vscode/

# System files
.DS_Store
Thumbs.db

# PHP Unit
/phpunit.xml
/.phpunit.cache/
