# Enable ReWrite engine to ignore and redirect requests.
RewriteEngine On

# Ignore the request for the favicon, saving a duplicated database connection.
RewriteCond %{REQUEST_URI} ^/favicon\.ico$ [NC]
RewriteRule .* - [L]

# Redirect every URI request to the index in order to process it there with the path router.
RewriteCond %{REQUEST_URI} !^/index\.php$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L]
