<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="{{ asset('img/favicon.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">

    <script type="module" src="{{ asset('js/functionalScripts/burguerMenu.js') }}"></script>
    <script type="module" src="{{ asset('js/api/manualMacroUpdate.js') }}"></script>

    <title>{{ page_title }}</title>
</head>

<body>
    <div class="page">
        <header class="header">
            {% include 'partials/NavigationBar.twig.html' %}
        </header>

        <main class="content">

            {% for message in app.flashes('modifyMacrosStatusError') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
            {% endfor %}

            <div class="form-container">
                <form method="post" id="manualMacrosForm">
                    <div class="form-group">
                        <label for="protein">Protein</label>
                        <input type="text" name="protein" class="form-input" id="protein">
                    </div>

                    <div class="form-group">
                        <label for="carbs">Carbohydrates</label>
                        <input type="text" name="carbs" class="form-input" id="carbs">
                    </div>

                    <div class="form-group">
                        <label for="fats">Fats</label>
                        <input type="text" name="fats" class="form-input" id="fats">
                    </div>

                    <div class="form-group">
                        <label for="fiber">Fiber</label>
                        <input type="text" name="fiber" class="form-input" id="fiber">
                    </div>

                    <div class="form-group">
                        <label>
                            <input type="radio" name="intent" value="add" id="add" checked>
                            Add
                        </label>
                        <label>
                            <input type="radio" name="intent" value="reduce" id="reduce">
                            Reduce
                        </label>
                    </div>

                    <button class="btn-submit" id="submit">Update</button>
                </form>
            </div>
        </main>
    </div>
</body>

</html>