:root {
  --base: #0E0B16;

  --primary: #3F2E83;
  --secondary: #725AC1;

  --card-bg: #1A1628;
  --border-card: #564C7A;

  --boder: #564C7A;
  --accent: #C6A667;

  --main-text: #EFEAFD;
  --text-muted: #9C92B6;

  --success: #7AC29E;
  --warning: #F6C945;
  --error: #D16A76;
}

@font-face {
  font-family: 'MondaRegular';
  src: url('/ttf/Monda-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--base);
  color: var(--main-text);
  font-family: 'MondaRegular';
}

a {
  text-decoration: none;
  color: inherit;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  flex: 0 0 auto;
  padding-left: 15px;
}

.footer {
  min-height: 60px;
}

.logo {
  padding-left: 1rem;
}

.text-content {
  margin: 0px 0px 30px 0px;
}

.text-content:first-child p {
  font-size: 1.1rem;
}

.progress-wrappers {
  padding: 0px 30px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.progress-wrapper {
  display: grid;
  grid-template-columns: 32px 1fr auto;
  grid-template-rows: 30px;
  align-items: center;
  gap: 12px;
  height: 30px;
}

.progress-track {
  height: 30px;
  border: 3px solid var(--border-card);
  border-radius: 0 0 20px 0;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  width: 0%;
  background: linear-gradient(90deg, #3F2E83, #725AC1, #C6A667);
  transition: width 1.25s cubic-bezier(.4, 0, .2, 1);
}

.progress-text {
  color: var(--main-text);
  opacity: 0.75;
  font-weight: bold;
  pointer-events: none;
  white-space: nowrap;
  line-height: 1;
  min-width: 120px;
  text-align: center;
}

.progress-text {
  color: var(--main-text);
  opacity: 0.75;
  font-weight: bold;
  pointer-events: none;
  white-space: nowrap;
  line-height: 1;
}

.progress-fill {
  height: 100%;
  width: 0%;
  background: linear-gradient(90deg,#3F2E83,#725AC1,#C6A667);
  transition: width 1.25s cubic-bezier(.4,0,.2,1);
}

.navigation {
  padding-right: 20px;
}

.navigation ul {
  display: flex;
  gap: 40px;
  list-style: none;
  align-items: center;
}

.navigation li {
  cursor: pointer;
}
