<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="{{ asset('img/favicon.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">

    <script type="module" src="{{ asset('js/functionalScripts/burguerMenu.js') }}"></script>
    <script type="module" src="{{ asset('js/utils/utils.js') }}"></script>
    
    <title>New intake - SMC</title>
</head>

<body>
    <div class="page">
        <header class="header">
            {% include 'partials/NavigationBar.twig.html' %}
        </header>

        <main class="main-content">
            <h1>Error {{ errorCode }}</h1>
            <p>{{ errorMessage }}</p>

            <a href="{{ path('home') }}" class="btn btn-primary">
                Volver al inicio
            </a>
        </main>

    </div>


</body>

</html>
