<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="{{ asset('img/favicon.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">

    <script type="module" src="{{ asset('js/security/auth.js') }}"></script>
    <script type="module" src="{{ asset('js/api/homePagePopulate.js') }}"></script>
    <script type="module" src="{{ asset('js/functionalScripts/burguerMenu.js') }}"></script>

    <title>Home - SMC</title>
</head>

<body>
    <div id="app-config" data-jwt-token="{{ jwtToken }}" hidden></div>
    <div class="page">
        <header class="header">
            {% include 'partials/NavigationBar.twig.html' %}
        </header>
        <main class="content">
            <div class="text-content">
                <p id="caloricProgress"></p>
            </div>
            {% for message in app.flashes('registerFoodStatus') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
            {% endfor %}

            {% for message in app.flashes('modifyMacrosStatusSuccess') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
            {% endfor %}
            <div class="text-content progress-wrappers" id="progress-wrappers">

            </div>

            <div class="text-content">
                <div>
                    <span>
                        <img src="{{asset('svg/piggy_bank.svg')}}" alt="Piggy bank"
                            style="width: 1.75em; height: 1.75em;">
                        Weekly balance:
                        <span id="weekly-consumption"></span> /
                        <span id="weekly-goal"></span>
                        calories
                    </span>
                </div>
            </div> <!-- Reserved section for future analytics -->
        </main>
    </div>
</body>

</html>