<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="public/img/favicon.ico" type="image/x-icon">
        <title>Login - SMC</title>
    </head>
    <body>
        {{ form_start(form) }}
        
            <label for="username">Username</label>
            {{ form_widget(form.username, {'id': 'username'}) }}
        
            <label for="password">Password</label>
            {{ form_widget(form.password, {'id': 'password'}) }}
        
            <button type="submit">Submit</button>
        
        {{ form_end(form) }}
    </body>
</html>